*{
margin: 0px;
padding: 0px;
}

section{
margin: 50px;
border: 10px solid black;
text-align: center;
}

div{
    width: 150px;
    border: 5px solid aquamarine;
    padding: 70px 10px;
    margin: 40px auto;
    text-align: center;
    background-color: gold;
}

